@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 4

   Park City Gazette Style Sheet
   Author: Ethan Gruenemeier
   Date: 10.25.18

   Filename:  pcg_paper.css
   Supporting Files: 

*/
html {
    background-color: #998271;
}

body {
    background-color: #998271;
    max-width: 1100px;
    min-width: 700px;
    width: 100%;
    margin: 0 auto 0 auto;
    font-family: 'K2D', sans-serif;
}

#topnav {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(8, .25fr) .32fr;
}

ul#topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E6D1C1;
}

ul#topnav li {
    float: left;
}

ul#topnav li a {
    display: block;
    color: #111;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul#topnav li a:hover:not(.active),
.dropdown:hover {
    background-color: #FFF6EF;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #111;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #FFF6EF;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    max-width: 1200px;
    min-width: 1100px;
}

.sticky+.content {
    padding-top: 60px;
}

#leftnav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #81613B;
    overflow-x: hidden;
    padding-top: 30px;
    transition: 0.5s;
}

/* This affects the links in the leftnav and makes the padding 10px on top and 0 right and 6 on the bottom also makes it 16px on the left. */
#leftnav a {
    padding: 10px 0px 6px 16px;
    text-decoration: none;
    font-size: 1.5em;
    color: #111;
    display: block;
    transition: 0.3s;
}

/* This affect the unordered lists in the id leftnav and makes the bullets disapear. */
#leftnav ul {
    list-style-type: none;
}

/* This affects the links that are hovered over in the leftnav and makes the color a white hex value. */
#leftnav a:hover {
    color: #f1f1f1;
}

/* Affects the closebutton in the left nav and makes the position absolute so it can't be pushed of the screen. Top is set to 0 and the
font-size is how big the button appears. */
#leftnav .closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 2em;
    margin-left: 45px;
}

#main {
    transition: .5s;
    padding: 20px;
}

#navButton {
    background: url(Three\ Lines\ .png) no-repeat;
    width: 34px;
    height: 34px;
    position: fixed;
    display: none;
    border: none;
}

@media only screen and (max-width: 1024px) {
    #topnav {
        display: none;
    }

    #navButton {
        display: inline-block;
    }
}

#banner {
    background-image: url("pcglogo.jpg");
    background-size: cover;
    background-position: center;
}

#bannerImage {
    position: relative;
    padding: 30px 0px 190px 0px;
}

.leftcol {
    float: left;
    width: 50%;
}

.rightcol {
    float: right;
    width: 45%;
}

.row::after {
    content: "";
    display: grid;
    clear: both;
}

h1 {
    text-align: center;
}

hr {
    width: 75%;
}

footer {
    clear: left;
    background-color: #857163;
    border-radius: 10px;
}

footer::after {
    content: "";
    clear: both;
    display: grid;
}

.right1-3 {
    float: left;
    width: 33.3%;
    text-align: center;
}

.centercol {
    float: left;
    width: 33.3%;
    text-align: center;
}

.left1-3 {
    float: left;
    width: 33.3%;
    text-align: center;
}

ul {
    list-style-type: none;
}

footer a {
    text-decoration: none;
    color: #111;
}

footer a:hover {
    color: #E6D1C1;
}

#topBtn {
    display: none;
    /* Hides Button by default */
    position: fixed;
    /*Makes Button Fixed/sticky in a position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: #857163;
    /* Set a background color */
    color: #111;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

/* This affects the topBtn id on hover and changes the color to a dark grey color. */
#topBtn:hover {
    background-color: rgb(148, 144, 144);
    /* Add a dark-grey background on hover */
}